* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Arial';
    text-decoration: none;
}

body {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    background-color: #ccc;
    padding: 10px;
    width: 960px;
}

#header-titulo {
    letter-spacing: 17px;
    font-size: 48px;
    height: 45px;
    margin-top: 24px;
}

#submenu1 {
    background-color: white;
}

#submenu1 ul {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

#submenu1 ul a {
    color: #757575;
    display: block;
    border: 1px solid;
    transition: all .7s ease;
    text-decoration: none;
    margin-left: 5px;
    width: 32px;
    height: 21px;
    padding-left: 5px;
}

#submenu1 ul li a:hover {
    background-color: #666;
    color: white;
}

#font ul li a:disabled {
    background-color: #eee;
    color: #ccc;
    border-color: #ccc;
    cursor: not-allowed;
}

.disabled {
    background-color: #eee;
    color: #ccc;
    border-color: #ccc;
    cursor: not-allowed;
}

/* nav */

nav {
    float: left;
    width: 200px;
    background-color: #666;
    padding: 10px;

}

.nav-link-title {
    padding-left: 8px;
    color: #fff;
    border-left: 4px solid;
    display: block;
    margin-bottom: 6.4px;
}

.sub-menu {
    padding-left: 12px;
    display: none;
}

.sub-menu a {
    color: #fff;
    padding: 5px;
    display: block;
}

.sub-menu a:hover {
    background-color: #999;
}

section {
    width: 78%;
    margin-left: auto;
    background-color: #BBB;
    padding: 9px;
    padding-top: 24px;
}

section p {
    margin-bottom: 15px;
}

section p img {
    float: left;
    margin-right: 20px;

    margin-bottom: 12px;
}